<!DOCTYPE html>
<html>
<head>
  <title>Klára Halamková</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>

    html {
      font-family: 'Open Sans', sans-serif !important;
    }

    body {
      font-size: 18px;
      font-weight: 400;
      padding: 10px;
    }

    h1 {
      color: #4F8A9E;
      font-family: 'Open Sans', sans-serif !important;
      font-weight: 700;
    }

    .cv-download-link {
      font-size: 80%;
      color: #222222;
    }

    .cv-download-link:hover, .cv-download-link:focus {
      color: #222222;
    }

    h3 {
      color: #222222;
      font-family: 'Open Sans', sans-serif !important;
      font-size: 130%;
      font-weight: 700;
    }

    hr {
      background-color: #4F8A9E;
      height: 1px;
      margin-bottom: 40px;
    }

    .cv-caption {
      display: inline-block;
      width: 170px;
    }

    .cv-blue {
      color: #4F8A9E;
      font-size: 110%;
      font-weight: 700;
    }

    .cv-bold {
      color: #222222;
      font-size: 110%;
      font-weight: 700;
    }

    .cv-block-1 {
      margin-top: 20px;
    }

    .cv-block-2 {
      margin-top: 20px;
    }

  </style>

</head>
<body>

<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">

    <div class="cv-header">
      <img src="/photo.jpg" alt="photo" class="img-responsive pull-right" style="max-width: 170px;">

      <h1>Bc. Klára Halamková</h1>
      <a class="cv-download-link" href="/cv/klara_halamkova.pdf">(stáhnout jako .pdf)</a>
      <h3>Personal details</h3>

      <span class="cv-blue cv-caption">Address:</span>Korunovační 980/23, 150 00 Praha<br>
      <span class="cv-blue cv-caption">Phone number:</span>+ 420 725 68 68 83<br>
      <span class="cv-blue cv-caption">Email:</span>halamkovakl@gmail.com<br>
      <span class="cv-blue cv-caption">Date of Birth:</span>31. 3. 1989
    </div>

    <hr>

    <div class="cv-block-1">
      <h3>Work experience</h3>

      <div class="cv-block-2">
        <span class="cv-bold">2016</span><br>
        <span class="cv-blue">Operation manager at DIGI Akademie, s.r.o. in Prague</span><br>
        <p class="text-justify">
          Coordination of the training centre, including management of educational environment, client
          reception, and organization of educational events. Communication with clients, management of
          commissions and the employment of lectors. Cooperation with company management,
          accounting, and technical support.
        </p>
      </div>

      <div class="cv-block-2">
        <span class="cv-bold">2015</span><br>
        <span class="cv-blue">Receptionist at City Partner Hotel Atos*** at Lesser Town in Prague</span><br>
        <p class="text-justify">
          Responsibility for smooth running of the hotel, close communication with Czech and international
          guests on a daily basis, providing information, booking cultural events and tours, cash operations
          and exchange service, lobby bar service. Back office during night shifts, invoicing.
        </p>
      </div>

      <div class="cv-block-2">
        <span class="cv-bold">2014 - 2015</span><br>
        <span class="cv-blue">Shop assistant in Max Praga s. r. o. – Max Mara and Weekend Max Mara boutique in Prague</span><br>
        <p class="text-justify">
          Providing excellent customer service within counselling, keeping a record of clients’ index, goods
          booking, and complaint management.
        </p>
      </div>
    </div>

    <div class="cv-block-1">
      <h3>Experience in graphic design</h3>

      <div class="cv-block-2">
        <span class=cv-bold>2016</span> - Comic book "Olovo"<br>
        <span class=cv-bold>2015</span> - Developing on-line games<br>
        <span class=cv-bold>2015</span> - Graphic designer in ARTEDU z. s.<br>
        <span class=cv-bold>2015</span> - Equal Pay Day BPWCR, 6th year<br>
        <span class=cv-bold>2014</span> - Aizen Japanese garden<br>
        <span class=cv-bold>2014</span> - Equal pay Day BPWCR, 5th year<br>
        <span class=cv-bold>2014</span> - Jitka Kopejtkova artist's portfolio
      </div>
    </div>

    <div class="cv-block-1">
      <h3>Education and training</h3>

      <div class="cv-block-2">
        <span class="cv-bold">2008 - 2013</span><br>
        <span class="cv-blue">History of Art at Palacký University in Olomouc</span><br>
        <p class="text-justify">
          BA program finished by the state exam.
        </p>
      </div>

      <div class="cv-block-2">
        <span class="cv-bold">2004 - 2008</span><br>
        <span class="cv-blue">Applied Arts at High school specialized in graphic design in Jihlava</span><br>
        <p class="text-justify">
          Finished by final exam.
        </p>
      </div>
    </div>

    <div class="cv-block-1">
      <h3>Personal skills and competences</h3>

      <div class="cv-block-2">
        <span class="cv-bold">Languages</span><br>
        <span class="cv-blue">English</span> - intermediate<br>
        <span class="cv-blue">German</span> - beginner<br>
        <span class="cv-blue">French</span> - passive<br>
      </div>

      <div class="cv-block-2">
        <span class="cv-bold">Software, IT</span><br>
        <span class="cv-blue">Adobe CC</span><br>
        <p class="text-justify">
          Good command of Photoshop, Illustrator, InDesign.
        </p>

        <span class="cv-blue">MS Office</span><br>
        <p class="text-justify">
          Good command of Word, Excel, Outlook, Access.
        </p>

        <span class="cv-blue">HTML5/CSS3, PHP, JavaScript, SQL</span><br>
        <p class="text-justify">
          Basic knowledge.
        </p>
      </div>
    </div>

  </div>
</div>

</body>
</html>
