<!DOCTYPE html>
<html>
<head>
  <title>Klára Halamková</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>

    html {
      font-family: 'Droid Sans Mono', serif !important;
    }

    #links_holder {
      position: relative;
    }

    #links_holder a {
      position: absolute;
      z-index: 10;
      color: #03B8CD;
      font-family: 'Droid Sans Mono', serif !important;
      font-size: 40px;
      font-weight: bold;
    }

    .text_block {
      color: #d3d3d3;
      background-color: #282828;
      font-family: 'Droid Sans Mono', serif !important;
      font-size: 16px;
      padding: 15px 40px;
    }

  </style>

</head>
<body>

<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">

    <img src="/img/1.png" alt="img1" class="img-responsive">
    <div class="text_block">
      Hi there! <br>
      This is cpt. Klara Halamková from the ship korunovacni980/23/17000praha7 <br>
      calling keenswh in response to Your offer for the position of a game designer.
    </div>
    <div id="links_holder" style="display: none;">
      <a href="/cv" data-link="cv">LINK_CV</a>
      <a href="http://araalk.wix.com/halamkovaportfolio" data-link="prtf">LINK_PORTFOLIO</a>
    </div>
    <img src="/img/2.png" alt="img2" class="img-responsive" id="img_with_links">
    <div class="text_block">
      Currently there is a large distance in space between us which I can overcome in <br>
      two months. Meanwhile I'm sending two shuttlepods loaded with an overview of <br>
      my present work experience.
    </div>
    <img src="/img/3.png" alt="img3" class="img-responsive">
    <div class="text_block">
      We're loosing connection... In case of Your interest, please, contact me at: <br>
      space code: halamkovakl@gmail.com <br>
      intergalactic code: +420 725 686 883
    </div>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    var $holder = $('#links_holder');
    var $img = $('#img_with_links');

    function relocate_links () {
      $link_cv = $holder.find('[data-link=cv]');
      $link_cv
          .css('top', ($img.height() * 0.78) - ($link_cv.height() / 2))
          .css('left', ($img.width() * 0.26) - ($link_cv.width() / 2));
      $link_prtf = $holder.find('[data-link=prtf]');
      $link_prtf
          .css('top', ($img.height() * 0.91) - ($link_prtf.height() / 2))
          .css('left', ($img.width() * 0.7) - ($link_prtf.width() / 2));
    }

    $img.load(function () {
      $holder.css('display', '');
      relocate_links();
    });



    $(window).on('resize', (function () {
      var block = false;

      return function () {
        if (block) return;
        block = true;
        setTimeout(function () {
          block = false;
          relocate_links();
        }, 100);
      };

    }()));

  });
</script>

</body>
</html>
